{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RandomChat</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <h1>WhoRU</h1>
        <div class="top_container">
            <input type="button" value="Refresh"
                    onclick='refreshButton()' />
        </div>
        {% block content %}
        {% endblock %}
    </div>

    <script>
        function refreshButton() {
            window.location.reload();
        }
    </script>
</body>
</html>
